
$_cssvars: ();
@mixin cssvars($css_variables, $prefix: pf) {
  $_cssvars: map-merge( $_cssvars, $css_variables ) !global;
}
@function cssvar($name, $prefix: pf) {
  @return var(--#{$prefix}-#{$name}, map-get( $_cssvars, $name ));
} // Use Variables with changed option I.E => @include cssvar(SomeVar, SomeOption)
@mixin cssvar ($name, $value: '', $prefix: pf) {
  --#{$prefix}-#{$name}: #{$value};
} // Use variables
@include cssvars((
        Light-Primary-Colour: #FFCC00,
        Light-Secondary-Colour: #FF4D00,
        Link-Colour: #a0e300,
        Light-Background-Colour: #fff,
        Light-Foreground-Colour: #000,
        Secondary-Foreground-Colour:#8c8d91,
        Hover-Secondary-Foreground-Colour:#434646,
        Main-Font: 'Work Sans',
        Media-Tablet: 750px,
        Media-SM-Laptop: 1024px,
        Media-LG-Laptop: 1250px,
)) // Create Variables


%Underline {
  position: relative;
  padding: 4px 0;
  &::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.1em;
    top: 100%;
    left: 0;
    background: cssvar(Light-Primary-Colour);
    transition: transform 350ms;
    transform: scaleX(0);
    transform-origin: right;
  }
  &:hover::after{
    transform: scaleX(1);
    transform-origin: left;
  }
}

a{
  color: cssvar(Light-Foreground-Colour);
  text-decoration: none;
  transition: 250ms;
}

h1{
  font-size: 2.25em;
  font-weight: 700;
}

h2{
  font-size: 1.75em;
  font-weight: 500;
}

p{
  font-size: 1.25em;
  font-weight: 400;
}

