$Light_Primary_Colour: #FFCC00;
$Light_Secondary_Colour: #FF4D00;
$Link_Colour: #a0e300;
$Light_Background_Colour: #fff;
$Light_Foreground_Colour: #000;
$Secondary_Foreground_Colour:#8c8d91;
$Hover_Secondary_Foreground_Colour:#434646;
$Main_Font: 'Work Sans', sans-serif;


%Underline {
  position: relative;
  padding: 4px 0;
  &::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.1em;
    top: 100%;
    left: 0;
    background: $Light_Primary_Colour;
    transition: transform 350ms;
    transform: scaleX(0);
    transform-origin: right;
  }
  &:hover::after{
    transform: scaleX(1);
    transform-origin: left;
  }
}

a{
  color: $Light_Foreground_Colour;
  text-decoration: none;
  transition: 250ms;
}

h1{
  font-size: 2.25em;
  font-weight: 700;
}

h2{
  font-size: 1.75em;
  font-weight: 500;
}

p{
  font-size: 1.25em;
  font-weight: 400;
}