@import 'reset';
@import './components/Header/Header';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400;1,600;1,800&display=swap');
@import "Config";



.app{
  height: 100vh;
  display: grid;
  grid-template-areas:"head" "main" "footer";
  grid-template-rows: 0.75fr 6fr 1.25fr;
  grid-gap: 1.25em;
  font-family: $Main_Font;
  background-color: $Dark_Colour;
  color: #fff;
}

main{
  width: inherit;
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer{
  width: inherit;
  grid-area: footer;
}

