@import 'reset';
@import './Headless/Headless';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,600&display=swap');
@import "Config";

html{
  font-size: 10px;
}

.app{
  height: 100vh;
  display: grid;
  grid-template-areas:"head" "main" "footer";
  grid-template-rows: 0.5fr 6fr 1.25fr;
  grid-gap: 10em;
  font-family: cssvar(Main-Font), sans-serif;
  background-color: cssvar(Light-Background-Colour);
  color: cssvar(Light-Foreground-Colour);
}

@media only screen and (min-width: 1250px){
  .app{
    grid-gap: 20em;
  }
}

