@import "./src/Config";

footer {
  width: inherit;
  height: 100%;
  grid-area: footer;
  //display: grid;
  //grid-gap: 0.5em;
  //justify-items: center;
  //grid-template-columns: 1fr 1fr 1fr;
  //grid-template-rows: 12fr;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1em;
  padding: 2em 2em 0;
  margin-top: 1em;
  font-size: 4em;
  background-color: cssvar(Light-Foreground-Colour);
  border-top-left-radius: 0.75em;
  border-top-right-radius: 0.75em;
  color: cssvar(Light-Background-Colour);


  ul {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    li {
      h2{
        font-size: 0.75em;
      }
      .outLink {
      font-style: normal;
      font-size: 0.85em;
      font-weight: 500;
      color: cssvar(Light-Secondary-Colour);
      transition: 150ms;
      &:hover{
        text-decoration: underline;
      }
    }
      .inLink{
      font-style: normal;
      font-size: 0.85em;
      font-weight: 500;
      color: cssvar(Light-Primary-Colour);
      transition: 150ms;
      &:hover{
        text-decoration: underline;
      }
    }
      .socialLinks{
        color: cssvar(Light-Background-Colour);
      }
  }
}
}


@media only screen and (min-width: 750px){
    footer{
      padding: 2em 4em 0;
    }
}
@media only screen and (min-width: 1024px){
  footer{
    padding: 2em 6em 0;
  }
}
@media only screen and (min-width: 1250px){
  footer{
    padding: 2em 10em 0;
  }
}