@import '../Config.scss';

.Heading{
  font-weight: 700;
  line-height: 0.95em;
}
.Sub_Heading{
  font-weight: 600;
  font-size: 1em;
  line-height: 0.95em;
  text-align: left;
  width: 100%;
}

.Par{
  font-size: 0.85em;
}

.NavLink{
  @extend %Underline
}
.ALink{
  color: cssvar(Light-Primary-Colour);
  text-align: left;
  font-weight: 600;
  font-style: italic;
  width: 100%;
  &:hover{
    text-decoration: underline;
  }
}

img{
  width: 100%;
  height: 8em;
  object-fit: cover;
  object-position: center;
}