@import './src/Config.scss';

header{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  width: inherit;
  grid-area: head;
  justify-items: center;
  align-items: center;
  font-weight: 300;

  h1{
    font-size: 2.25em;
    font-weight: 600;
  }

  span{
    h2{
      font-size: 1.75em;
      font-weight: 300;
    }
    @extend %Underline;
    cursor: pointer;
  }
}

.menu{
    display: grid;
    grid-template-areas: "title" "links" "social";
    grid-template-rows: 1fr 2fr 4fr;
    grid-gap: 1em;
    position: fixed;
    background-color: $Dark_Colour;
    color: #fff;
    width: 100vw;
    height: 100vh;
    font-size: 4em;
}

  .Title{
    width: inherit;
    height: 100%;
    grid-area: title;
    display: grid;
    grid-auto-columns: 1fr;
    justify-items: end;
    align-items: center;
    div{
      margin: 0 1em;
      h2{
        font-size: 0.5em;
        font-weight: 300;
        color: #8c8d91;
      }
      transition: 250ms;
      @extend %Underline;
      cursor: pointer;
      :hover{
        color: #f0efef;
      }
    }
  }
  .Links{
    display: grid;
    grid-area: links;
    grid-auto-rows: 1.25em;
    justify-items: end;
    align-items: start;
    grid-gap: 0.35em;
    margin: 0 1em;
    border-bottom: #444848 solid 4px;
    a{
      @extend %Underline;
    }
  }
  .Social{
    grid-area:social;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #8c8d91;
    font-size: 0.45em;
    margin: 0 2.25em;
    overflow-wrap: break-word;
    .contact{
      display: grid;
      grid-auto-rows: 2em;
    }
    .Social_Links{
      display: grid;
      grid-auto-rows: 2em;
      justify-items: end;
      align-items: center;
      a{
        color: #8c8d91;
      }
      :hover{
        color: #f0efef;
      }
    }
  }


nav{
  display: none;
}
.showMenu{
  display: block;
}

@media screen and (min-width:1024px) {
    .showMenu{
      display: none;
    }
    .menu{
      display: none;
    }
    nav{
      display: grid;
      ul{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.75em;
        gap: 2em;
        width: 100%;
      }
    }
}