@import './src/Config.scss';

header{
  width: inherit;
  grid-area: head;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4em;
  padding: 0 2.85em;
  font-weight: 300;
  h1{
    font-size: 2.25em;
    font-weight: 600;
  }
  span{
    h2{
      font-size: 1.75em;
      font-weight: 400;
    }
    @extend %Underline;
    cursor: pointer;
  }
}
nav{
  display: none;
  font-weight: 400;
  ul li{
    @extend %Underline;
  }
}
.menu{
    display: grid;
    grid-template-areas: "title" "links" "social";
    grid-template-rows: 1fr 2fr 4fr;
    grid-gap: 1em;
    position: fixed;
    background-color: cssvar(Light-Background-Colour);
    color: cssvar(Light-Foreground-Colour);
    width: 100%;
    height: 100%;
    font-size: 4em;
}
.Title{
    width: inherit;
    height: 100%;
    grid-area: title;
    display: grid;
    grid-auto-columns: 1fr;
    justify-items: end;
    align-items: center;
    div{
      margin: 0 1em;
      h2{
        font-size: 0.5em;
        font-weight: 400;
        color: cssvar(Secondary-Foreground-Colour);
      }
      transition: 250ms;
      @extend %Underline;
      cursor: pointer;
      :hover{
        color: cssvar(Hover-Secondary-Foreground-Colour);
      }
    }
  }
.Links{
    display: grid;
    grid-area: links;
    grid-auto-rows: 1.25em;
    justify-items: end;
    align-items: start;
    grid-gap: 0.35em;
    margin: 0 1em;
    padding: 1em 0;
    border-bottom: cssvar(Secondary-Foreground-Colour) solid 4px;
    a{
      font-weight: 500;
      color: cssvar(Hover-Secondary-Foreground-Colour);
      &:hover{
        color: cssvar(Secondary-Foreground-Colour);
      }
      @extend %Underline;
    }
  }
.Social{
    grid-area:social;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: cssvar(Secondary-Foreground-Colour);
    font-size: 0.45em;
    font-weight: 400;
    margin: 0 2.25em;
    overflow-wrap: break-word;
    .contact{
      display: grid;
      grid-auto-rows: 2em;
    }
    .Social_Links{
      display: grid;
      grid-auto-rows: 2em;
      justify-items: end;
      align-items: center;
      a{
        color: cssvar(Secondary-Foreground-Colour);
      }
      :hover{
        color: cssvar(Hover-Secondary-Foreground-Colour);
      }
    }
  }
.showMenu{
  display: block;
}

@media screen and (min-width:1024px) {
    .showMenu{
      display: none;
    }
    .menu{
      display: none;
    }
    nav{
      display: grid;
      ul{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.75em;
        gap: 2em;
        width: 100%;
      }
    }
}